<div class="container">
    
    <div class="jumbotron">
    <h1><%= @foodname %>값 낼 사람</h1>
    <p>밥값 내주실 분의 인상착의</p>
    
    <br>
    <%=@result1[0] %> <br>
    <%=@result2[0] %> <br>
    <%=@result3[0] %> <br>
    <%=@result4[0] %> <br>
    

  </div>
</div>